.form-inline{
    margin-top:50px;
    margin-left: 20%;
}
input{
    margin-left: 20px;
    margin-right: 20px;
}

.boton-cambio {
    font-family: Monospace;
    background-color: #ce0816 !important;
}